*{
    margin: 0 auto;
    padding: 0 auto;

}


html, body {
width: 1920px;
background: #F4F6F6;
margin: 0 auto;
}


.header {
height: 90px;
background: #0073A1;
}

.title-element {
font-weight: 600;
font-size: 24px;
line-height: 33px;
color: #555555;
margin-left: 205px;
margin-top: 40px;
margin-bottom: 15px;

}

hr {
width: 1590px;
border: 1px solid #000000;
margin-top: 15px;
}

.title-box {
width: 1590px;
height: 67px;
left: 165px;
top: 238px;
background: #FAFAFA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
margin-bottom: 5px;
margin-top: 60px;
}

.title {
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #003471;
padding-top: 20px;
}


.information {
width: 1590px;
height: 190px;
left: 165px;
top: 305px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.date {
display: inline-block;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #0073A1;
padding-top: 28px;
padding-left: 48px;
}

.text {
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #555555;
padding-top: 28px;
width: 1510px;
}


.second-title-box {
 width: 1590px;
height: 67px;
background: #FAFAFA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
margin-top: 25px;
}

.second-title {
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
text-align: center;
padding-top: 20px;
}

.second-information {
width: 1590px;
height: 190px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
margin-top: 20px;

}

.second-date {
display: inline-block;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #0073A1;
padding-left: 48px;
padding-top: 28px;
}

.third-title-box {
 width: 1590px;
height: 67px;
background: #FAFAFA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
margin-top: 25px;
}

.third-title {
font-weight: 400;
font-size: 20px;
line-height: 27px;
color: #000000;
text-align: center;
padding-top: 20px;
}

.third-information {
width: 1590px;
height: 190px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
margin-top: 20px;

}

.third-date {
display: inline-block;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #0073A1;
padding-left: 48px;
padding-top: 28px;
}

button {
width: 230px;
height: 60px;
background: #0073A1;
border: #0073A1;
color: #FFFFFF;
border-radius: 40px;
font-weight: 400;
font-size: 16px;
line-height: 22px;
margin-top: 80px;
margin-left: 229px;
}